@{
    ViewData["Title"] = "Projeto Final Da Samsung Ocean";
}

<div class="text-center">
    <h3 class="display-6">Elevador</h3>
    <p><h5><b>Descrição do sistema</b></h5></p>
    <p>      </p>
    <p>Ao entrar no programa é solicitado ao usuário que informe, quantidade de andares que possui no prédio e a capacidade do elevador.</p>
    <p>Após informados os dados é liberado o menu abaixo com opções de operação.</p>

    <p>1 Digite para entrar -> Entrar uma pessoa no elevador se ainda tiver espaço.<br />
        2 Digite para sair -> Remove uma pessoa caso não esteja vazio. <br />
        3 Digite para subir -> Sobe um andar se  não esteja no ultimo.<br />
        4 Digite para Descer -> Desce um andar se não esteja no térreo.<br />
        5 Digite para Sair -> Sai Do programa.</p>
    


</div>